.HomePageComponent {
  width: 100%;
  height: 100%;
  background: #fbfaf8;
}
.hero_jewelry,
.hero_custom,
.hero_decor {
  position: relative;
  height: 606px;
  overflow: hidden;
}
.AnimationImage {
  width: 440px;
  height: 100%;
}
.hero_jewelry .text {
  position: absolute;
  top: 20%;
  left: 55%;
}
.text {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  color: brown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  margin-top: 10px;
}

.jewelryAnimation,
.customAnimation,
.decorAnimation {
  position: absolute;
}
.jewelryAnimation {
  top: 0px;
  left: -80px;
  rotate: 10deg;
}
.hero_custom .text {
  position: absolute;
  top: 10%;
  left: 10%;
}
.customAnimation {
  top: 40%;
  left: 30%;
}
.hero_decor .text {
  position: absolute;
  top: 30%;
  left: 50%;
}
.decorAnimation{
  top: 0;
  left: -80px;
}

@media only screen and (max-width: 376px) {
  .HomePageComponent {
    width: 376px;
  }
  .hero_jewelry,
  .hero_custom,
  .hero_decor {
    position: relative;
    height: 500px;
    z-index: 1;
    overflow: hidden;
  }
  .AnimationImage {
    width: 320px;
    height: 100%;
  }
}
